.move{
    width: 80%;
    height: 250px;
  margin-left: 6%;
}
#movee{
    margin-top: 30px;
}
.sliderimg{
    width: 180px;
    height: 160px;
    border-radius: 5px;
}
.trending_headding{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.rsliderimg{
    border-radius: 50%;
}
#lmove{
    margin-top: 30px;
}

