.nav_links{
    display: flex;
    justify-content: space-around;
    font-family: proximanova-regular-webfont, Arial, sans-serif;
    margin-top: 20px;
    font-size: 11px;
    width: 75%;
    margin-left: 6%;
     
}
.nav_links>a:hover{
    text-decoration: underline red;
}

